# Preseed file for automated Debian 13 with UEFI
# Ordered like the manual installation steps

d-i debian-installer/language string en
d-i debian-installer/country string LU
d-i debian-installer/locale string en_US.UTF-8
d-i keyboard-configuration/xkb-keymap select us

d-i netcfg/choose_interface select auto

d-i passwd/root-login boolean false
d-i passwd/make-user boolean true
d-i passwd/user-fullname string Debian 13 UEFI Template User
d-i passwd/username string template
d-i passwd/user-password password debian13-uefi
d-i passwd/user-password-again password debian13-uefi

d-i clock-setup/utc boolean true
d-i time/zone string Europe/Luxembourg
d-i clock-setup/ntp boolean true


d-i partman-auto/method string regular
d-i partman-auto/choose_recipe select custom-regular

d-i partman-auto/expert_recipe string \
  custom-regular ::                   \
    512 512 512 EFI                   \
      device{ /dev/xvda1 }            \
      format{ }                       \
      method{ efi }                   \
    .                                 \
    1024 1024 1024 /boot              \
      device{ /dev/xvda2 }            \
      filesystem{ ext4 }              \
      format{ }                       \
      method{ format }                \
      mountpoint{ /boot }             \
      use_filesystem{ }               \
    .                                 \
    4096 4096 4096 swap               \
      device{ /dev/xvda3 }            \
      format{ }                       \
      method{ swap }                  \
    .                                 \
    16384 16384 16384 /               \
      filesystem{ ext4 }              \
      format{ }                       \
      method{ format }                \
      mountpoint{ / }                 \
      use_filesystem{ }               \
    .

d-i partman-partitioning/confirm_write_new_label boolean true
d-i partman/choose_partition select finish
d-i partman/confirm boolean true
d-i partman/confirm_nooverwrite boolean true


d-i apt-setup/cdrom/set-first boolean false
d-i mirror/country string manual
d-i mirror/http/hostname string deb.debian.org
d-i mirror/http/directory string /debian
d-i mirror/http/proxy string

d-i popularity-contest/participate boolean false
tasksel tasksel/first multiselect ssh-server, standard

d-i grub-installer/only_debian boolean true
d-i grub-installer/bootdev string /dev/xvda

d-i finish-install/reboot_in_progress note

d-i pkgsel/include string cloud-init cloud-guest-utils resolvconf

d-i preseed/late_command string                                                                                                                 \
  in-target wget -nv https://gitlab.com/api/v4/projects/xen-project%2Fxen-guest-agent/packages/generic/deb-amd64/release-0.4.0/xen-guest-agent_0.4.0_amd64.deb && \
  in-target dpkg -i xen-guest-agent_0.4.0_amd64.deb &&                                                                                            \
  in-target rm xen-guest-agent_0.4.0_amd64.deb;
